= simple_form_for(@article, html: { class: 'form-horizontal' } ) do |f|
  .form-group
    = f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" }
  .form-group
    = f.input :title, input_html: { class: 'form-control' }

  .form-group
    = f.input :content, input_html: { class: 'form-control' }
  
  = f.submit